export LASSO_DYNAMODB_TABLE_NAME=lj-lasso
export LASSO_JWKS_SSM_PARAM=/lasso/jwks
export LASSO_CREDENTIAL_SSM_PARAM=/lasso/login-credential
export LASSO_ISSUER=https://zzspanxrc7v4tvou4acvdq36oi0yjdrz.lambda-url.us-east-1.on.aws/
export AWS_REGION=us-east-1
export AWS_PROFILE=lasso-deploy
